html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: #424242;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calculator {
  border: 2px solid rgb(12, 12, 12);
  background-color: #252525;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: rgb(14, 13, 13);
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

button {
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: rgb(177, 174, 174);
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.589), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
}

button:hover {
  background-color: #3d3c3c;
}

.operator {
  color: #10ac02;
  font-weight: bold;
}

.all-clear {
  background-color: #f0ed59;
  color: rgb(0, 0, 0);
}

.all-clear:hover {
  background-color: #f5d20d;
}

.equal-sign {
  background-color: #10ac02;
  color: rgb(0, 0, 0);
  height: 100%;
  font-weight: bold;
  grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
  background-color: #17ce07;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.center {
  justify-self: center;
  width: 106px;
  grid-column-start: span 3;
}
